<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59459777453-7udu7r5smmdbl6gag3g024k5t6rdi5vp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59459777453-7udu7r5smmdbl6gag3g024k5t6rdi5vp</string>
	<key>API_KEY</key>
	<string>AIzaSyAuYsYve9A8menBdaXFP-HMU7od7H09Cf0</string>
	<key>GCM_SENDER_ID</key>
	<string>59459777453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.courtney.motivationalThoughts</string>
	<key>PROJECT_ID</key>
	<string>motivational-thoughts-1e272</string>
	<key>STORAGE_BUCKET</key>
	<string>motivational-thoughts-1e272.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59459777453:ios:ffa265929f420256a6a724</string>
	<key>DATABASE_URL</key>
	<string>https://motivational-thoughts-1e272.firebaseio.com</string>
</dict>
</plist>